In [1]:
##classification

In [68]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import accuracy_score,mean_squared_error,r2_score

In [44]:
df=pd.read_csv("C:/Users/vinod/Downloads/clean_social.csv")
df

,id,gender,age,education,profession,workDuration,typeSocial,useSocial,productivity,socialDuration
0,1,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,6
1,2,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,7
2,3,female,24,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,4
3,4,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,8
4,5,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,6
5,6,female,28,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,2
6,7,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,4
7,8,male,43,degree,lectural,5 years,"facebook,youtube,tiktok",regulary,no,3
8,9,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,8
9,10,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,5
10,11,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,6
11,12,female,32,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,4
12,13,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,8
13,14,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,6
14,15,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,yes,2
15,16,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,4
16,17,male,27,degree,officer,7 years,"facebook,youtube,tiktok,snapchat",regulary,no,3
17,18,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,8
18,19,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,5
19,20,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,yes,6
20,21,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,yes,4
21,22,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,8
22,23,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,6
23,24,female,45,master,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,2
24,25,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,4
25,26,male,47,degree,officer,9 years,"facebook,youtube,tiktok,snapchat",regulary,no,3
26,27,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,8
27,28,female,29,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,5
28,29,male,36,degree,manager,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,6
29,30,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,4
30,31,female,34,master,officer,7 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,6
31,32,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,2
32,33,male,29,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,4
33,34,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,3
34,35,female,27,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,8
35,36,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,5
36,37,male,26,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,6
37,38,female,18,degree,officer,3 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,4
38,39,female,25,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,8

In [45]:
data=df.drop(['id','gender','education','productivity'],axis=1)
data

,age,profession,workDuration,typeSocial,useSocial,socialDuration
0,35,manager,8 years,"facebook,twitter,youtube",often,6
1,27,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,7
2,24,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,4
3,35,manager,8 years,"facebook,twitter,youtube",often,8
4,27,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,6
5,28,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,2
6,35,manager,8 years,"facebook,twitter,youtube",often,4
7,43,lectural,5 years,"facebook,youtube,tiktok",regulary,3
8,21,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,8
9,35,manager,8 years,"facebook,twitter,youtube",often,5
10,27,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,6
11,32,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,4
12,35,manager,8 years,"facebook,twitter,youtube",often,8
13,27,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,6
14,21,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,2
15,35,manager,8 years,"facebook,twitter,youtube",often,4
16,27,officer,7 years,"facebook,youtube,tiktok,snapchat",regulary,3
17,21,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,8
18,35,manager,8 years,"facebook,twitter,youtube",often,5
19,27,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,6
20,21,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,4
21,35,manager,8 years,"facebook,twitter,youtube",often,8
22,27,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,6
23,45,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,2
24,21,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,4
25,47,officer,9 years,"facebook,youtube,tiktok,snapchat",regulary,3
26,21,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,8
27,29,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,5
28,36,manager,5 years,"facebook,youtube,tiktok,snapchat",regulary,6
29,21,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,4
30,34,officer,7 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,6
31,35,manager,8 years,"facebook,twitter,youtube",often,2
32,29,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,4
33,21,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,3
34,27,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,8
35,35,manager,8 years,"facebook,twitter,youtube",often,5
36,26,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,6
37,18,officer,3 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,4
38,25,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,8

In [55]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["typeSocial"] = le.fit_transform(data["typeSocial"])
data

    age profession workDuration  typeSocial  useSocial  socialDuration
0    35    manager      8 years           1      often               6
1    27    officer      5 years           3   regulary               7
2    24    officer      4 years           0  everytime               4
3    35    manager      8 years           1      often               8
4    27    officer      5 years           3   regulary               6
5    28    officer      4 years           0  everytime               2
6    35    manager      8 years           1      often               4
7    43   lectural      5 years           2   regulary               3
8    21    officer      4 years           0  everytime               8
9    35    manager      8 years           1      often               5
10   27    officer      5 years           3   regulary               6
11   32    officer      4 years           0  everytime               4
12   35    manager      8 years           1      often               8
13   27    officer      5 years           3   regulary               6
14   21    officer      4 years           0  everytime               2
15   35    manager      8 years           1      often               4
16   27    officer      7 years           3   regulary               3
17   21    officer      4 years           0  everytime               8
18   35    manager      8 years           1      often               5
19   27    officer      5 years           3   regulary               6
20   21    officer      4 years           0  everytime               4
21   35    manager      8 years           1      often               8
22   27    officer      5 years           3   regulary               6
23   45    officer      4 years           0  everytime               2
24   21    officer      4 years           0  everytime               4
25   47    officer      9 years           3   regulary               3
26   21    officer      4 years           0  everytime               8
27   29    officer      4 years           0  everytime               5
28   36    manager      5 years           3   regulary               6
29   21    officer      4 years           0  everytime               4
30   34    officer      7 years           0  everytime               6
31   35    manager      8 years           1      often               2
32   29    officer      5 years           3   regulary               4
33   21    officer      4 years           0  everytime               3
34   27    officer      4 years           0  everytime               8
35   35    manager      8 years           1      often               5
36   26    officer      5 years           3   regulary               6
37   18    officer      3 years           0  everytime               4
38   25    officer      4 years           0  everytime               8

In [56]:
data["profession"] = le.fit_transform(data["profession"])
data

    age  profession workDuration  typeSocial  useSocial  socialDuration
0    35           1      8 years           1      often               6
1    27           2      5 years           3   regulary               7
2    24           2      4 years           0  everytime               4
3    35           1      8 years           1      often               8
4    27           2      5 years           3   regulary               6
5    28           2      4 years           0  everytime               2
6    35           1      8 years           1      often               4
7    43           0      5 years           2   regulary               3
8    21           2      4 years           0  everytime               8
9    35           1      8 years           1      often               5
10   27           2      5 years           3   regulary               6
11   32           2      4 years           0  everytime               4
12   35           1      8 years           1      often               8
13   27           2      5 years           3   regulary               6
14   21           2      4 years           0  everytime               2
15   35           1      8 years           1      often               4
16   27           2      7 years           3   regulary               3
17   21           2      4 years           0  everytime               8
18   35           1      8 years           1      often               5
19   27           2      5 years           3   regulary               6
20   21           2      4 years           0  everytime               4
21   35           1      8 years           1      often               8
22   27           2      5 years           3   regulary               6
23   45           2      4 years           0  everytime               2
24   21           2      4 years           0  everytime               4
25   47           2      9 years           3   regulary               3
26   21           2      4 years           0  everytime               8
27   29           2      4 years           0  everytime               5
28   36           1      5 years           3   regulary               6
29   21           2      4 years           0  everytime               4
30   34           2      7 years           0  everytime               6
31   35           1      8 years           1      often               2
32   29           2      5 years           3   regulary               4
33   21           2      4 years           0  everytime               3
34   27           2      4 years           0  everytime               8
35   35           1      8 years           1      often               5
36   26           2      5 years           3   regulary               6
37   18           2      3 years           0  everytime               4
38   25           2      4 years           0  everytime               8

In [57]:
data["useSocial"] = le.fit_transform(data["useSocial"])
data

    age  profession workDuration  typeSocial  useSocial  socialDuration
0    35           1      8 years           1          1               6
1    27           2      5 years           3          2               7
2    24           2      4 years           0          0               4
3    35           1      8 years           1          1               8
4    27           2      5 years           3          2               6
5    28           2      4 years           0          0               2
6    35           1      8 years           1          1               4
7    43           0      5 years           2          2               3
8    21           2      4 years           0          0               8
9    35           1      8 years           1          1               5
10   27           2      5 years           3          2               6
11   32           2      4 years           0          0               4
12   35           1      8 years           1          1               8
13   27           2      5 years           3          2               6
14   21           2      4 years           0          0               2
15   35           1      8 years           1          1               4
16   27           2      7 years           3          2               3
17   21           2      4 years           0          0               8
18   35           1      8 years           1          1               5
19   27           2      5 years           3          2               6
20   21           2      4 years           0          0               4
21   35           1      8 years           1          1               8
22   27           2      5 years           3          2               6
23   45           2      4 years           0          0               2
24   21           2      4 years           0          0               4
25   47           2      9 years           3          2               3
26   21           2      4 years           0          0               8
27   29           2      4 years           0          0               5
28   36           1      5 years           3          2               6
29   21           2      4 years           0          0               4
30   34           2      7 years           0          0               6
31   35           1      8 years           1          1               2
32   29           2      5 years           3          2               4
33   21           2      4 years           0          0               3
34   27           2      4 years           0          0               8
35   35           1      8 years           1          1               5
36   26           2      5 years           3          2               6
37   18           2      3 years           0          0               4
38   25           2      4 years           0          0               8

In [58]:
x=data.drop(['workDuration','typeSocial','socialDuration'],axis=1)
x

    age  profession  useSocial
0    35           1          1
1    27           2          2
2    24           2          0
3    35           1          1
4    27           2          2
5    28           2          0
6    35           1          1
7    43           0          2
8    21           2          0
9    35           1          1
10   27           2          2
11   32           2          0
12   35           1          1
13   27           2          2
14   21           2          0
15   35           1          1
16   27           2          2
17   21           2          0
18   35           1          1
19   27           2          2
20   21           2          0
21   35           1          1
22   27           2          2
23   45           2          0
24   21           2          0
25   47           2          2
26   21           2          0
27   29           2          0
28   36           1          2
29   21           2          0
30   34           2          0
31   35           1          1
32   29           2          2
33   21           2          0
34   27           2          0
35   35           1          1
36   26           2          2
37   18           2          0
38   25           2          0

In [59]:
y=data[['socialDuration']]
y

    socialDuration
0                6
1                7
2                4
3                8
4                6
5                2
6                4
7                3
8                8
9                5
10               6
11               4
12               8
13               6
14               2
15               4
16               3
17               8
18               5
19               6
20               4
21               8
22               6
23               2
24               4
25               3
26               8
27               5
28               6
29               4
30               6
31               2
32               4
33               3
34               8
35               5
36               6
37               4
38               8

In [60]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=42)

In [61]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(xtrain, ytrain)

C:\Users\vinod\AppData\Local\Temp\ipykernel_4276\1922436551.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(xtrain, ytrain)

RandomForestRegressor(random_state=42)

In [62]:
ypred = model.predict(xtest)
ypred

array([4.85481746, 5.9560119 , 5.52986905, 5.52986905, 4.43290729,
       4.85481746, 5.92630123, 4.029     , 4.85481746, 5.92630123])

In [64]:
mse = mean_squared_error(ytest, ypred)

In [65]:

mse

2.53271085385627

In [70]:
mse = mean_squared_error(ytest, ypred)

print(f'Mean Squared Error: {mse:.2f}')

Mean Squared Error: 2.53